<input id="search" />
<div class="grid"></div>

<script>
    var jsonItems = "";
    $.get("https://raw.githubusercontent.com/osrsbox/osrsbox-db/master/docs/items-summary.json", function (data) {
        jsonItems = data;
    });

    var parsedItems;
    var itemArray = new Array();
    setTimeout(function () {
        parsedItems = JSON.parse(jsonItems);

        //for (var i = 0; i < 100; i++) {
        //    if (parsedItems[i] != null) {
        //        var img = document.createElement("img");
        //        img.id = "item" + i;
        //        img.classList.add("item-content");
        //        img.title = parsedItems[i].name;
        //        img.setAttribute("src", "https://www.osrsbox.com/osrsbox-db/items-icons/" + i + ".png");

        //        var itemContent = document.createElement("div");
        //        itemContent.classList.add("item-content");

        //        var item = document.createElement("div");
        //        item.classList.add("item");

        //        itemContent.appendChild(img);
        //        item.appendChild(itemContent);
        //        document.getElementsByClassName("grid")[0].appendChild(item);
        //    }
        //};

        for (var i = 0; i < 15000; i++) {
            if (parsedItems[i] != null) {
                itemArray.push(parsedItems[i].name);
            }
        };
        itemArray = [...new Set(itemArray)];

        itemArray.sort();

        $("#search").autocomplete({
            source: itemArray,
            open: function () {
                var menuItems = document.getElementsByClassName("ui-menu-item-wrapper");
                Array.from(menuItems).forEach(function (element) {
                    element.setAttribute("onclick", "addItem(this.innerText);");
                });
            }
        });
    }, 250);

    function addItem(itemName) {
        var quantity = prompt("Quantity?");
        if (quantity == "") {
            return addItem(itemName);
        }

        for (var i = 0; i < 15000; i++) {
            if (parsedItems[i] != null && parsedItems[i].name == itemName) {
                var itemQuantity = document.createElement("div");
                itemQuantity.classList.add("item-quantity");
                itemQuantity.innerText = quantity;

                var img = document.createElement("img");
                img.id = "item" + i;
                img.classList.add("item-content");
                img.title = parsedItems[i].name;
                img.setAttribute("src", "https://www.osrsbox.com/osrsbox-db/items-icons/" + i + ".png");

                var itemContent = document.createElement("div");
                itemContent.classList.add("item-content");

                var item = document.createElement("div");
                item.classList.add("item");

                itemContent.appendChild(itemQuantity);
                itemContent.appendChild(img);
                item.appendChild(itemContent);
                document.getElementsByClassName("grid")[0].appendChild(item);

                for (var j = 0; j < itemArray.length; j++) {
                    if (itemArray[j] == itemName) {
                        itemArray.splice(j, 1);
                        break;
                    }
                };

                setTimeout(function () {
                    document.getElementById("search").value = "";
                }, 0);

                new Muuri('.grid', {
                    dragEnabled: true
                });

                break;
            }
        };
    }
</script>